body {
    margin: 0px;
    /* background-image: url(./Images/unnamed.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

.blog-header {
    background-image: url(./Images/macbook_mouse.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

.name {
    color: white;
    font-size: 80px;
    font-family: 'Caveat', cursive;
    text-align: center;
}

#myimage img {
    position: relative;
    margin-top: -170px;
    height: 50vh;
    width: 50vw;
    left: 350px;
    border-radius: 100%;
}

#About {
    /* background-image: url(./Images/blurry-light-background.jpg); */
}

.Intro {
    text-align: center;
    font-size: 2rem;
    /* color:white; */
    color: #617222;
}

#Skills {
    /* background-image: url(./Images/photo-1553095066-5014bc7b7f2d.jfif); */
    background-color: lightgray;
    color: #5b2525;
}

.headskill {
    /* background-color: #617222; */
    font-size: 2rem;
    position: relative;
    /* left: 650px; */
}

.skill-indicator {
    height: 1.5rem;
    /* border: .00001px solid black; */
    width: 7rem;
    background-color: white;
    border-radius: 10%;
}

.eighty {
    height: inherit;
    width: 80%;
    background-color: blue;
    border-radius: 10%;
    color: black;
}

.ninty {
    height: inherit;
    width: 90%;
    background-color: red;
    border-radius: 10%;
    color: black;
}

.seventy {
    height: inherit;
    width: 70%;
    background-color: blue;
    border-radius: 10%;
    color: black;
}

.seventy-five {
    height: inherit;
    width: 75%;
    background-color: red;
    border-radius: 10%;
    color: black;
}

.thirty {
    height: inherit;
    width: 30%;
    background-color: red;
    border-radius: 10%;
    color: black;
}

.headexperience {
    font-size: 2rem;
    position: relative;
    /* left: 600px; */
    color: #5b2525;
}

.headeducation {
    font-size: 2rem;
    position: relative;
    /* left: 600px; */
    color: #5b2525;
}

#Education {
    background-color: lightgray;
}

.headportfolio {
    font-size: 2rem;
    position: relative;
    /* left: 600px; */
    /* margin: 100px; */
}

.headcontact {
    font-size: 2rem;
    position: relative;
    /* left: 600px; */
    color: white;
}

#Contact {
    background-color: darkblue;
}

.ending p {
    color: white;
}

.ending h2 {
    color: white;
}

.head {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}