body{
    margin: 0px;
}
.blog-header{
    background-image: url(./Images/macbook_mouse.jpg);
    height: 500px;
    background-size: cover;
    background-position:center;
    opacity: 0.8;
}
.name{
    color: white;
    font-size: 70px;
    font-family: 'Caveat', cursive;
    text-align: center;
}
#myimage img{
    position: relative;
    margin-top: -170px;
    height: 50vh;
    width: 50vw;
    left: 350px;
    border-radius: 100%;
}